@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    width: 1350px;
    /*overflow: hidden;*/
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica;
}
/*#table{*/
    /*overflow: hidden;*/

/*}*/
#table .tab{
    height: 30px;
    padding-left: 510px;
    overflow: hidden;
    border-bottom: 1px dashed silver;
}
#table .tab ul{
    overflow: hidden;
}
#table .tab ul li{
    list-style: none;
    float: left;
    font-size: 12px;
    border-right: 1px dashed silver;
    height: 14px;
    padding: 0 18px;
    text-align: left;
   margin: 7px 0 4px 0;
    cursor: pointer;

}
#table .tab ul li:last-child{
    border-right: none;
}
#table .tab ul li em{
    display: block;
    float: left;
    width: 25px;
    height: 30px;
    background: url("../image/w1.png") no-repeat;
}
#table .tab ul li i{
    float: left;
    display: block;
    width: 25px;
    height:30px;
    background: url("../image/q1.png") no-repeat;
}
#table .tab ul li i.cat1{
    background-position: -185px  -20px;
}
#table .tab ul li i.cat2 {
    background-position: 0 -164px;
}
#table .tab ul li i.cat3{
    background-position: -220px  -45px;
}
#table .tab ul li i.cat4{
    background-position: -163px  -45px;
}
#table .tab ul li:hover{
    color:  #FF6699;
}
#table .sou{
    height: 120px;
}

#table .sou .logo{
      float: left;
    /*display: inline-block;*/
    margin: 40px 95px 0 75px;
}
#table .sou .logo img{
    margin-right: 10px;
}
#table .sou input {
    width: 450px;
    height: 28px;
    border: 2px solid #FF6699;
    float: left;
    text-indent: 10px;
    margin-top: 50px;
    margin-left: -100px;
}
#table .sou .ss span {
    width: 70px;
    height: 32px;
    background: #FF6699 url("../image/ss.png") no-repeat;
    background-position: 20px 6px;
    display: inline-block;
    margin-top: 50px;
}
#table .sou .dh p {
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    background: silver;
    /*display: inline-block;*/
    float: left;
    margin-top: 25px;
    cursor: pointer;
}
#table .sou .dh p.p1 {
    background: #FF6699;
}
#table .sou .logo1 {
    margin: -75px 75px 0 0;
    float: right;
}
#table .sou ul li{
    font-size: 12px;
    list-style: none;
    display: inline;
    margin-right: 3px;
}
.ys{
    color: #FF6699;
}
#nav{
    width: 1350px;
    height: 48px;
    line-height: 48px;
    border-bottom: 2px solid #FF6699;
    background: white;
    padding-left: 100px;
}
#nav ul li{
    list-style: none;
    display: inline-block;
    float: left;
    width: 75px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 16px;
}

#nav1{
    display: none;
    width: 1350px;
    height: 48px;
    line-height: 48px;
    border-bottom: 2px solid #FF6699;
    background: white;
    padding-left: 100px;
    position: fixed;
    top: 0;
    z-index: 1000;
}
#nav1 ul li{
    list-style: none;
    display: inline-block;
    float: left;
    width: 75px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 16px;
}
#nav ul li:hover{
    font-size: 16px;
    font-weight: bold;
    color:#FF6699 ;
}
#nav1 ul li:hover{
    font-size: 16px;
    font-weight: bold;
    color:#FF6699 ;
}

#zt{
    overflow: hidden;
    position: relative;
}
#zt .lo{
    float: left;

}
#zt .lo ul{
    width: 232px;
    margin-left: 85px;
    padding-top: 10px;
    border-left: 1px dashed silver;
    border-right: 1px dashed silver;

}
#zt .lo ul li{
    font-size: 12px;
    padding-left: 20px;
    /*margin: 10px 3px;*/
    width: 200px;
    cursor: pointer;
    height: 105px;
    border-bottom: 1px dashed silver;
}

#zt .lo ul li p{
    width: 175px;
    margin-top: 3px;
}
#zt .lo ul li p span{
    display:block;
    float: left;
    height: 25px;
    line-height: 25px;
    padding-right: 10px;
}

#zt .lo1{
    background: #F9F9F9;
    width: 350px;
    position: absolute;
    top: 0;left:318px;
    z-index: 22;
    display: none;
}
#zt .lo1 h4{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15px;
}
#zt .lo1 span{
    display: inline-block;
    /*margin-right: 10px;*/
    font-size: 12px;
    margin: 0 0 8px 15px;
}


#zt .lo2{
    background: #F9F9F9;
    width: 350px;
    position: absolute;
    top:115px;left:318px;
    z-index: 22;
    display: none;
}
#zt .lo2 h4{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15px;
}
#zt .lo2 span{
    display: inline-block;
    /*margin-right: 10px;*/
    font-size: 12px;
    margin: 0 0 8px 15px;
}


#zt .lo3{
    background: #F9F9F9;
    width: 350px;
    position: absolute;
    top:230px;left:318px;
    z-index: 22;
    display: none;
}
#zt .lo3 h4{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15px;
}
#zt .lo3 span{
    display: inline-block;
    /*margin-right: 10px;*/
    font-size: 12px;
    margin: 0 0 8px 15px;
}


#zt .lo4{
    background: #F9F9F9;
    width: 350px;
    position: absolute;
    top:345px;left:318px;
    z-index: 22;
    display: none;
}
#zt .lo4 h4{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15px;
}
#zt .lo4 span{
    display: inline-block;
    /*margin-right: 10px;*/
    font-size: 12px;
    margin: 0 0 8px 15px;
}


#zt .lo .q1:hover + .lo1{
    display: block;
}
#zt .lo .q2:hover + .lo2{
    display: block;
}

#zt .lo .q3:hover + .lo3{
    display: block;
}

#zt .lo .q4:hover + .lo4{
    display: block;
}




ul, li {
    list-style: none;

}

img {
    border: none;
}

a {
    text-decoration: none;
}

 .banner {
    position: relative;
    overflow: hidden;
    width: 960px;
    height: 420px;
    float: left ;
}

/*图片区域的样式*/
 .banner .bannerImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 4800px;
    height: 420px;
    overflow: hidden;
}

 .banner .bannerImg div {
    float: left;
    width: 960px;
    height: 420px;
    background: url("../image/default.gif") no-repeat center center #f5f5f5;
}

 .banner .bannerImg div img {
    width: 100%;
    height: 100%;
}

/*焦点区域的样式*/
 .banner .bannerTip {
    position: absolute;
    bottom: 13px;
    right: 11px;
    width: 100px;
    height: 18px;
    overflow: hidden;
}

 .banner .bannerTip li {
    float: left;
    margin-right: 7px;
    width: 18px;
    height: 18px;
    background: #999;
    cursor: pointer;
    border-radius: 50%;
}

 .banner .bannerTip li.select {
    background: #ff6600;
}

/*左右切换区域的样式*/
 .banner .bannerLeft, .banner .bannerRight {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 30px;
    height: 45px;
    background: url("../image/pre.png") no-repeat 0 0;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

 .banner .bannerLeft {
    left: 20px;
}

 .banner .bannerRight {
    right: 20px;
    background-position: -50px 0;
}

.banner .bannerLeft:hover, .banner .bannerRight:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

 .lunner{
    float: left;
}
.lunner .yz li{
     float: left;
     margin-top: 15px;
    margin-left: 10px;
}


#tbody{
    margin: 35px 75px 0 80px;
    overflow: hidden;
}
#tbody .tbo1{
    overflow: hidden;
    margin-bottom: 20px;
}
#tbody .tbo1 h3{
    float: left;
   letter-spacing: 3px;
    font-size: 16px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
#tbody .tbo1 span{
    float: left;
    font-size: 13px;
    display: inline-block;
    height: 20px;
    line-height: 25px;
    margin-left: 10px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
#tbody .tbo1 p{
    float: right;
    border-bottom: 1px solid silver;
    padding-left: 890px;
    font-size: 14px;
}
#tbody .tbo2 ul{
    float: left;
    width: 386px;
}
#tbody .tbo2 ul.tb1{
    margin-right: 18px;
}
#tbody .tbo2 ul li img{
    float: left;
    width: 260px;
    height: 376px;
    margin-top: 2px;
}

#tbody .tbo2 ul li a img{
    float: left;
    width: 124px;
    height: 124px;
    margin-left: 2px;
}



#footer{
    margin: 35px 75px 0 80px;
    overflow: hidden;
}
#footer .foo1{
    overflow: hidden;
    margin-bottom: 20px;
}
#footer .foo1 h3{
    float: left;
    letter-spacing: 4px;
    font-size: 18px;
    /*opacity: 0.7;*/
    /*filter: alpha(opacity=70);*/
}
#footer .foo1 span{
    float: left;
    font-size: 13px;
    display: inline-block;
    height: 20px;
    line-height: 25px;
    margin-left: 10px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
#footer .foo1 p{
    float: right;
    border-bottom: 1px solid silver;
    padding-left: 890px;
    font-size: 14px;
}

#footer .foo2 .f1{
overflow: hidden;
margin-left: 340px
}
#footer .foo2 .f1 li{
    display: block;
    float: left;
    margin:10px 60px 20px 0;
    font-size: 16px;
}
#footer .foo2 .f1 .mr{
    background-color: palevioletred;
    border-bottom: pink;
}

#footer .foo2 div ul li{
    float: left;
    margin-right: 10px;
}
#footer .foo2 div ul li p{
    font-size: 22px;
    margin: 15px 0 3px 140px;
}
#footer .foo2 div ul li span{
    margin-left: 80px;
}
#footer .foo2 div{
    display: none;
}
#footer .foo2 .xs{
    display: block;
}
#hb{
    margin: 20px 0 10px 78px;
}
